h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 95px;
    margin-left: 95px;
    font-size: 58px;
    white-space: nowrap;
    font-family: 'Bitter', serif;
  }

  a{ 
      color: #B06020; 
  }


  div.h1Positions { 
      position: absolute; 
      top: 50px; 
      left: 100px; 
      width: 1300px; 
      height: 60px;
      background-color: #729CA2;
  }

  p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    white-space: nowrap;
    font-family: 'Bitter', serif;
  }

div.absolute1 {
    position: absolute;
    top: 150px;
    left: 100px;
    width: 250px;
    height: 520px;
    margin-bottom: 100px;
    background-color:  #FFB266;
}

div.absolute2 { 
    position: absolute;
    top: 150px;
    left: 400px;
    height: 520px;
    width: 1000px;
    background-color: #C4DCDF ;
}

div.absolute3 { 
    position: absolute;
    top: 720px;
    left: 100px;
    height: 500px;
    width: 1000px;
    margin-bottom: 100px; 
    background-color: #729CA2 ;
}

div.absolute4 {
    position: absolute;
    top: 720px;
    left: 1150px; 
    width: 250px;
    height: 500px;
    margin-bottom: 100px;
    background-color:  #FFB266;
}

div.backImg { 
    position: absolute; 
    top: 850px;
    left: 150px;
    right: 150px; 
    height: 500px;
}

* {
    box-sizing: border-box; 
}

table { 
    border-spacing: 0 50px; 
}


#table_img { 
    height: 250px; 
    overflow: hidden;
}


div.column { 
    float: left; 
    width: 33.33%; 
    padding: 7px; 
    white-space: nowrap;
}

div.row::after { 
    position: absolute; top: 300px;
    content: " "; 
    clear: both; 
    display: table;
}